/* clearfix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */ 
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.margintop15 { margin-top: 15px !important; }

.container{ margin: 20px; }

/* button */
.button-mini { display: inline-block; height: 28px; line-height: 28px; background: #e6e6e6; color: #333; padding: 0px 16px; font-weight: bold; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 12px; cursor: pointer; outline: none; }
.button-mini:hover { background: #e0e0e0; }
.button-mini.btn-red{ background: #ec4d38; color: #fff; }
.button-mini.btn-red:hover{ background-color: #df2e18; }
.button { padding: 6px 12px; font-size: 14px; cursor: pointer; border-radius: 2px; line-height: 1.42857143; font-family: microsoft yahei; display: inline-block; vertical-align: middle; text-align: center; outline:none; transition: background-color .3s ease-out,border-color .3s ease-out; }
.button:active { box-shadow: 0px 1px 1px rgba(0,0,0,0.2) inset; }
.button.btn-normal{ border: 1px solid #e6e6e6; background:#e6e6e6; color:#444; }
.button.btn-normal:hover { border-color: #c7c7c7; background-color: #d4d4d4; }
.button.btn-default{ border: 1px solid #ccc; background: #fff; color: #444; text-shadow: none; }
.button.btn-default:hover { border-color: #bbb; background-color: #f8f8f8; }
.button.btn-primary{ border: 1px solid #0e90d2; background: #0e90d2; color: #fff; text-shadow: none; }
.button.btn-primary:hover { border-color: #0a6999; background-color: #0c79b1; }
.button.btn-green { border: 1px solid #5eb95e; background: #5eb95e; color: #fff; }
.button.btn-green:hover { border-color: #429842; background-color: #4aaa4a; }
.button.btn-orange { border: 1px solid #F37B1D; background: #F37B1D; color: #fff; }
.button.btn-orange:hover { border-color: #c85e0b; background-color: #e0690c; }
.button.btn-blue { border: 1px solid #00a8ee; background: #00a8ee; color: #fff; }
.button.btn-blue:hover { border-color: #0092d0; background-color: #0098d8; }
.button.btn-red { border: 1px solid #ec4d38; background: #ec4d38; color: #fff; }
.button.btn-red:hover { border-color: #d02b16; background-color: #df2e18; }
.button.btn-size-sm{ padding: 5px 10px; font-size: 12px; }
.button.btn-size-lg{ padding: 8px 16px; font-size: 16px; }
.button.btn-width-md{ min-width: 120px; }

.page-form { }
.page-form .row { margin: 20px 0; }

.placeHolder { background-color: #fff; !important; border: dashed 2px #ddd !important; box-sizing: border-box; }